# Ambientes virtuais
venv/
.env/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Arquivos de log e temporários
*.log
*.tmp
*.swp

# Configurações de IDEs
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db
